.OverlayButton {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  padding: 12px 20px 8px;
  margin: 0 auto;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  text-align: center;
  background-color: #e37ad3;
  color: #ffffff;
  border: none;
  box-shadow: inset 0 0 0 5px #d850b1;
}

.OverlayButton-icon {
  transform: rotate(25deg);
}
