.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.window__kitty-loader-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #FFFFFF;
}

.window__kitty-loader {
  text-align: center;
  padding-top: 60px;
}

.window__kitty-loader-button {
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 20px;
}
