.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.window__kitty-loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
  z-index: 20;
}

.preloading .window__kitty-loader-overlay,
.overlay-open .window__kitty-loader-overlay {
  opacity: 1;
  pointer-events: auto;
  display: flex;
}

.window__kitty-preloader {
  display: none;
  text-align: center;
}

.preloading .window__kitty-preloader {
  display: block;
}

.window__kitty-preloader-diamond {
  display: inline-block;
  height: 50px;
  width: auto;
  transform: rotate(0deg);
  transform-origin: center center;
  animation: diamondRotate 1s ease-in-out infinite;
}

@keyframes diamondRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.window__kitty-preloader-diamond-shapes {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 25px solid pink;
  position: relative;
  top: -10px;
}

.window__kitty-preloader-diamond-shapes:after {
  content: '';
  position: absolute;
  left: -10px;
  top: 25px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 25px solid pink;
}

.window__kitty-loader {
  display: none;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.overlay-open .window__kitty-loader {
  display: flex;
}

.window__kitty-loader-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.window__kitty-loader-list-image {
  flex: 0 0 45%;
  width: 150px;
  height: auto;
  border: 2px solid transparent;
}

.window__kitty-loader-list-image-selected {
  border: 2px solid pink;
}

.window__kitty-loader-button {
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.window__kitty-open-overlay-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 24px;
  padding: 14px;
  z-index: 10;
}

.window__loading-block {
  display: none;
  position: fixed;
  left: 0;
  bottom: 30px;
  width: 100%;
  z-index: 30;
}

.loading .window__loading-block {
  display: block;
}

.window__loading-block-text {
  width: 300px;
  padding: 12px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid pink;
  font-size: 16px;
}

.a-enter-vr {
  display: none;
}



