.KittyList {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.KittyList-header {
  text-align: center;
}

.KittyList-kitties {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.KittyList-kitty-image-container {
  position: relative;
  flex: 0 1 40%;
  width: 50%;
  height: auto;
  margin: 0 10px 20px 10px;
  border: 2px solid transparent;
  border-radius: 14px;
  cursor: pointer;
}

.KittyList-kitty-image-container-selected {
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.KittyList-kitty-id {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  font-style: italic;
  opacity: 0.7;
  padding: 4px;
}

.KittyList-kitty-name {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  margin: 4px 0;
}

.KittyList-kitty-image-container-selected .KittyList-kitty-image {
  animation: sway 3s ease infinite;
  backface-visibility: hidden;
}

@keyframes sway {
  0% {
    transform: rotate3d(0, 0, 1, 0deg) translateZ(0);
  }

  10%,
  20% {
    transform: rotate3d(0, 0, 1, -3deg) translateZ(0);
  }

  30%,
  50%,
  70%,
  90% {
    transform: rotate3d(0, 0, 1, 3deg) translateZ(0);
  }

  40%,
  60%,
  80% {
    transform: rotate3d(0, 0, 1, -3deg) translateZ(0);
  }

  100% {
    transform: rotate3d(0, 0, 1, 0deg) translateZ(0);
  }
}

.KittyList-kitty-image-container-background-autumnmoon {
  background-color: #fdf3e0;
}

.KittyList-kitty-image-container-background-babypuke {
  background-color: #eff1e0;
}

.KittyList-kitty-image-container-background-bubblegum {
  background-color: #fadff4;
}

.KittyList-kitty-image-container-background-chestnut {
  background-color: #efe1da;
}

.KittyList-kitty-image-container-background-coralsunrise {
  background-color: #fde9e4;
}

.KittyList-kitty-image-container-background-cyan {
  background-color: #c5eefa;
}

.KittyList-kitty-image-container-background-dahlia {
  background-color: #e6eafd;
}

.KittyList-kitty-image-container-background-doridnudibranch {
  background-color: #faeefa;
}

.KittyList-kitty-image-container-background-eclipse {
  background-color: #e5e7ef;
}

.KittyList-kitty-image-container-background-forgetmenot {
  background-color: #dcebfc;
}

.KittyList-kitty-image-container-background-gold {
  background-color: #faf4cf;
}

.KittyList-kitty-image-container-background-limegreen {
  background-color: #d9f5cb;
}

.KittyList-kitty-image-container-background-mintgreen {
  background-color: #cdf5d4;
}

.KittyList-kitty-image-container-background-palejade {
  background-color: #e7f1ed;
}

.KittyList-kitty-image-container-background-parakeet {
  background-color: #e5f3e2;
}

.KittyList-kitty-image-container-background-pumpkin {
  background-color: #fae1ca;
}

.KittyList-kitty-image-container-background-sapphire {
  background-color: #d3e8ff;
}

.KittyList-kitty-image-container-background-sizzurp {
  background-color: #dfdffa;
}

.KittyList-kitty-image-container-background-strawberry {
  background-color: #ffe0e5;
}

.KittyList-kitty-image-container-background-thundergrey {
  background-color: #eee9e8;
}

.KittyList-kitty-image-container-background-topaz {
  background-color: #d1eeeb;
}

.KittyList-kitty-image-container-background-twilightsparkle {
  background-color: #ede2f5;
}

.KittyList-kitty-image {
  max-width: 150px;
  height: auto;
}

.KittyList-load-kitty-container {
  position: relative;
  flex: 0 1 40%;
  width: 150px;
  height: auto;
  min-height: 200px;
  margin: 0 10px 20px 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-image: url('../../nullcat.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.KittyList-button-group {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  z-index: 30;
}

.KittyList-button {
  font-family: 'Karla', sans-serif;
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
}

.KittyList-button-select,
.KittyList-button-load {
  background-color: #e37ad3;
  padding: 12px 0;
  color: #ffffff;
  border: none;
  box-shadow: inset 0 0 0 5px #d850b1;
}

.KittyList-button-delete {
  background-color: #fd4404;
  color: #ffffff;
  border: none;
  box-shadow: inset 0 0 0 5px darkred;
}

.KittyList-button-select:disabled,
.KittyList-button-delete:disabled,
.KittyList-button-load:disabled {
  opacity: 0.5;
}

.KittyList-input {
  width: 80%;
  font-family: 'Karla', sans-serif;
  border: 1px solid #e37ad3;
  border-radius: 4px;
  margin: 12px auto;
  text-align: center;
  font-size: 18px;
}
