.SplashScreen {
  text-align: center;
}

.SplashScreen-header {
  text-align: center;
  animation: tada 1s ease 1s;
}


@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -5deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 5deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -5deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.SplashScreen-diamond {
  display: inline-block;
  height: 50px;
  width: auto;
  transform: rotate(0deg);
  transform-origin: center center;
  animation: diamondRotate 1s ease-in-out infinite;
}

@keyframes diamondRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.SplashScreen-diamond-pseudo {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 25px solid pink;
  position: relative;
  top: -10px;
}

.SplashScreen-diamond-pseudo:after {
  content: '';
  position: absolute;
  left: -10px;
  top: 25px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 25px solid pink;
}
